body
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    background-color: #393841;
}

main
{
    padding: 20px;
}

textarea 
{
    background-color: #1D1D21;
    color: white;
    border: none;
    border-radius: 4px;
    resize: none;
}

#otsikko
{
    width: 200px;
    height: 16px;
}

#teksti
{
    width: 500px;
    height: 200px;
}